version: '3.4'

services:
  # Actor Runtime with Dapr sidecar
  tomkerkhove.dapr.actors.runtime:
    image: tomkerkhove/dapr.actors.runtime
    build:
      context: .
      dockerfile: TomKerkhove.Dapr.Actors.Runtime/Dockerfile
    ports:
      - "3500:3500"
      - "3000:3000"
    depends_on:
      - redis
      - placement
    networks:
      - dapr
  tomkerkhove.dapr.actors.runtime.sidecar:
    image: "daprio/daprd:edge"
    command: ["./daprd",
    "-app-id", "tomkerkhove.dapr.actors.runtime",
    # "-port", "3500",
    "-app-port", "3000",
    "-placement-address", "placement:50006",
    "-dapr-grpc-port", "50002",
    "-components-path", "/components"]
    volumes:
      - "./components/:/components"
    depends_on:
      - tomkerkhove.dapr.actors.runtime
    network_mode: "service:tomkerkhove.dapr.actors.runtime"
  # Device API with Dapr sidecar
  tomkerkhove.dapr.apis.management:
    image: tomkerkhove/dapr.apis.management
    build:
      context: .
      dockerfile: TomKerkhove.Dapr.APIs.Management/Dockerfile
    depends_on:
      - redis
      - placement
    networks:
      - dapr
  tomkerkhove.dapr.apis.management.sidecar:
    image: "daprio/daprd:edge"
    command: ["./daprd",
    "-app-id", "tomkerkhove.dapr.apis.management",
    "-placement-address", "placement:50006",
     "-components-path", "/components"]
    volumes:
      - "./components/:/components"
    depends_on:
      - tomkerkhove.dapr.apis.management
    network_mode: "service:tomkerkhove.dapr.apis.management"
  # Dapr Infrastructure
  placement:
    image: "daprio/dapr"
    command: ["./placement", "-port", "50006"]
    ports:
      - "50006:50006"
    networks:
      - dapr
  redis:
    image: "redis:alpine"
    ports:
      - "6380:6379"
    networks:
      - dapr
networks:
  dapr:
